h1{
    font-family: 'Architects Daughter', cursive;
}

p {
    font-family: 'Architects Daughter', cursive; 
}

#cabezarobot {
    width: 100px;
    border-radius: 20%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.control{
    margin: 20px;
    font-family: 'Architects Daughter', cursive; 
}