h1 {
    font-family: 'Baloo Tammudu 2';
    margin-top: 50px;
}

.panel-heading {
    margin-top: 10px;
}
#miniatura {
    width: 45px;
    margin: 20px;
    border-radius: 10%;
}

.media{
    display: flex;
    justify-content: center;
}

.button2 {
    display: flex;
    
}

.pagination-list{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}