#navbar {
    background-color: #030C2A;
    height: 90px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Baloo Tammudu 2';
}

.navbar-item {
    color: white;
}

#user1 {
    margin-left: 50px;
}

#user{
    margin-right: 30px;
}

#grado {
    margin-left: 30px;
}
    
#mini{
    margin-left: 30px;
    width: 60px;
    height: 80px;
}

#redes {
    display: flex;
    margin: auto;
    width: 700px;
    margin-top: 100px;
    margin-bottom: 130px;
}

#column-redes {
    margin: 20px;
    padding: 10px;
}

#button button{
    margin: 50px;
}

.footer {
    background-color: #030C2A;
    color: white;
}

#icons i{
    margin-top: 50px;
}

#icons a{
    margin: 60px;
    margin-bottom: 20px;
    color: white;
}

#icons a:hover {
    color: aquamarine;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 80px;
}

nav ul li a{
    color: white;
    margin-left: 150px;
}

ul li a:hover{
    color: #4CAAB2;
}

.columns{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

#container1{
    background-color: rgb(204, 204, 204);
    color: black;
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
    
}

#container2{
    background-color: rgb(155, 139, 139);
    color: rgb(0, 0, 0);
    margin-right: 1vh;
}

#container3{
    color: rgb(0, 0, 0);
    background-color: rgb(121, 96, 78);
    margin-left: 1vh;   
}

#container4{
    background-color: rgb(167, 167, 167);
    color: black;
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

@media (max-width: 770px){
    #container2{
        margin-right: 0;
    }
    #container3{
        margin-left: 0;
        margin-top: 2vh;
    }
}